# GitHub generated .gitignore for Clojure:
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/

# Vim .swp files:
*.swp

# Compiled JavaScript output file:
/resources/public/js/figwheel_main_example.js
